@import "globals";
@import "variables";

#header {
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.4);

  #nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 15vh;

    ul {
      display: flex;

      li {
        list-style: none;
        margin-left: 5.1rem;

        .nav-link {
          font-size: 1.6rem;
          color: #000;
          text-decoration: none;
        }
      }
    }

    #header-img {
      max-width: 366px;
      height: auto;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

.email-notification {
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .email-display {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  input[type="email"] {
    color: $black-opacity50;
    background: $blue-opacity20;
    font-size: 1.2rem;
    width: 191px;
    height: 30px;
    padding: 7px 14px;
    border-radius: 0.5rem;
    margin-bottom: 1.4rem;
    border: 0;
  }

  input[type="submit"] {
    background: $red-opacity90;
    color: $white-color;
    font-weight: 500;
    font-size: 1.6rem;
    width: 136px;
    height: 30px;
    padding: 4px auto;
    border-radius: 0.5rem;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
  }
}

// section - features
#features {
  margin-top: 11.3rem;

  .three-content-desc {
    display: flex;
    align-items: center;
    margin-bottom: 9.9rem;

    .details {
      margin-left: 6.1rem;

      h2 {
        font-size: 2.4rem;
        font-weight: 500;
        margin-bottom: 0.8rem;
      }

      p {
        font-size: 1.6rem;
        color: $black-opacity70;
      }
    }
  }
}

//section - how-it-works

//section - pricing
#pricing {
  margin-top: 9.9rem;
  margin-bottom: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .product {
    padding: 2.2rem 6.3rem;
    margin: 3rem;
    height: 350px;
    width: 350px;
    border-radius: 0.5rem;
    background: $white-color;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.4);
    display: flex;
    // justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
      font-size: 1.6rem;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    h3 {
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 2rem;
    }

    ul {
      li {
        font-size: 1.6rem;
        color: $black-opacity70;
        list-style: none;
        margin-bottom: 2rem;
      }
    }

    .btn {
      font-size: 1.6rem;
      height: 53px;
      width: 105px;
      background: $red-opacity90;
      color: $white-color;
      border: 0;
      border-radius: 0.5rem;
      padding: 0 1.7rem;
      cursor: pointer;
    }
  }
}

//footer
footer {
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid $black-opacity50;

  .footer-container {
    width: 80%;
    margin: 0 auto;
    padding: 5.3rem 0;

    ul {
      display: flex;

      li {
        list-style: none;
        margin-right: 3.1rem;
        margin-bottom: 1.2rem;

        a {
          font-size: 2.4rem;
          color: $black-opacity70;
          text-decoration: none;
        }
      }
    }

    p {
      font-size: 1.6rem;
      color: $black-opacity70;
    }
  }
}

@media (max-width: 1240px) {
  #pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
